.sortable-images .field-position {
    display: none;
}

.sortable-images .drag-handle {
    cursor: move;
    width: 20px;
    height: 20px;
    background: #f8f9fa;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    line-height: 20px;
}
